.header {
    width: 68.75%;
    margin: 45px auto 0;
    height: 74px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    display: flex;
    justify-content: space-between;
}

@media all and (max-width: 600px) {
    .header {
        width: 100%;
        height: 56px;
    }
}