{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": "off",
    "linebreak-style": "off",
    "indent": [ 2, 4 ],
    "no-console": "off",
    "object-curly-newline": [
      "error",
      {
        "multiline": true
      }
    ]
  }
}