.elements__list-item {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

/* @media (max-width: 320px) {
  .elements__list-item {
    max-height: none;
  }
} */