.footer__logo {
    color: #545454;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.22;
    font-weight: 400;
}

@media all and (max-width: 600px) {
    .footer__logo {
        font-size: 14px;
    }
}
