.login__button {
  background-color: #fff;
  width: 358px;
  height: 50px;
  border: none;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
}

.login__button:hover {
  cursor: pointer;
  opacity: .85;
}