.popup__button {
  width: 358px;
  height: 50px;
  margin-top: 48px;
  margin-bottom: 37px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  background-color: #000;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.popup__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  .popup__button {
    width: 238px;
    height: 46px;
    margin-top: 45px;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 17px;
  } 
}