.element__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.element__image:hover {
  opacity: 0.9;
}