.popup__submit-button_inactive {
    background-color: white;
    color: black;
    border: 1px solid black;
    opacity: 0.2;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    cursor: default;
}

.popup__submit-button_inactive:hover{
    opacity: 0.2;
}
