.form__title {
  margin: 0;
  margin-bottom: 38px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  color: #000000;
}

@media screen and (max-width: 559px) {
  .form__title {
    margin-bottom: 64px;
    font-size: 18px;
    line-height: 1.22;
  }
}
