.popup__field-input {
  box-sizing: border-box;
  color: black;
  font-weight: 400;
  width: 100%;
  font-size: 14px;
  line-height: 1.21;
  padding: 13px 0 13px 0;
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  transition: border-bottom-color 0.2s ease;
}

/* .popup__field-input:first-child {
  margin-bottom: 30px;
} */

.popup__field-input:focus {
  border-bottom-color: rgba(0, 0, 0, 1);
}

