.profile__avatar-edit{
    background: center / 26px 26px url(../../../images/VectorEdit.svg) no-repeat,
    rgba(0, 0, 0, 0.8);
    align-self: center;
    cursor: pointer;
    transition: opacity 0.2s linear;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
}

.profile__avatar-edit:hover{
    opacity: 1;
}