.profile__subtitle {
  font-size: 18px;
  line-height: 1.22;
  padding: 0;
  margin: 16px 0 0 0;
  font-weight: 400;
}

@media screen and (max-width: 320px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
    margin: 14px 0 0 0;
  }
}
