.profile__add-button {
  background-image: url(../../../images/Vector.svg);
  background-repeat: no-repeat;
  background-position:center center;
  background-size: 22px 22px;
  width: 150px;
  height: 50px;
  margin: 0;
  padding: 0;
  background-color: #000;
  cursor: pointer;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  transition: opacity 0.2s linear;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 730px) {
  .profile__add-button {
    margin-top: 36px;
    width: 282px;
    background-size: 16px 16px;
  } 
}