@media screen and (max-width: 600px) {
    .header__navi {
        display: block;
        overflow: hidden;
        position: relative;
        width: 24px;
        min-height: 24px;
        margin: 0;
        padding: 0;
        background: #000;
        cursor: pointer;
        border: 0;
        font-size: 0;
        transition: opacity 0.2s linear;
    }

    .header__navi:hover {
        opacity: 0.6;
    }

    @media screen and (max-width: 670px) {
        .header__navi {
            opacity: 1;
        }
    }
}

@media screen and (min-width: 601px) {
    .header__navi {
        display: none;
    }
}