.page__container {
  box-sizing: border-box;
  max-width: 880px;
  width: 68.75%;
  padding: 45px 0 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .page__container {
    width: 80%;
  }
}

@media screen and (max-width: 1023px) {
  .page__container {
    max-width: 819px;
    width: 90%;
    padding: 36px 0 48px;
  }
}

@media screen and (max-width: 559px) {
  .page__container {
    width: 100%;
    max-width: 504px;
    padding: 28px 0 36px;
  }
}
