.profile__info {
    margin: 0 auto 0 30px;
    width: 336px;
    height: 73px;
    display: grid;
    grid-template-columns: 1fr 24px;
    grid-template-rows: repeat(2, auto);
    align-self: center;
    align-items: flex-end;
    justify-content: center;
}

@media all and (max-width: 800px) {
    .profile__info {
        margin: 22.25px 0 36px;
        width: 282px;
        min-height: 54px;
        grid-template-columns: 1fr 18px;
    }
}