.popup__close {
  background-image: url(../../../images/CloseIcon.svg);
  background-color: transparent;
  border: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  right: -40px;
  top: -40px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .popup__close {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}
