.profile__name {
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  max-width: 294px;
  overflow: hidden;
  white-space: nowrap;

}

@media screen and (max-width: 670px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    margin-left: 28px;
    max-width: 240px;
  } 
}