.profile__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 320px) {
  .profile__container {
    flex-direction: column;
  }
}
