.profile__description {
    margin: 0;
    padding: 0;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    grid-column: 1/3;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media all and (max-width: 600px) {
    .profile__description {
        font-size: 14px;
        text-align: center;
    }
}
