.elements__button-trash {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 18px;
  height: 19.3px;
  background-image: url(../../../images/Trash.svg);
  box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
  box-sizing: border-box;
  position: absolute;
  top: 18px;
  right: 15px;  
}

.elements__button-trash:hover{
  opacity: 0.6;
}