.profile__edit-button {
  background-image: url(../../../images/VectorEdit.svg);
  align-self: center;
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  background-color: #000;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  margin-left: 18px;
  transition: opacity 0.2s linear;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 670px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 7px 7px;
    margin-left: 10px;
  } 
}