.popup__button_disabled {
  opacity: 0.2;
  background-color: #fff;
  color: #000;
  border: 2px solid black;
}

.popup__button_disabled:hover {
  opacity: 0.8;
  color: #fff;
  background-color: #000;
}