.page {
  background-color: #000000;
  margin: 0;
  color: #fff;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  position: relative;
  flex-direction: column;
  min-height: 100vh;
  /*transition: all ease 1s;*/
}